# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/captures/
android/key.properties
**/*.jks
**/*.keystore

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Pods/

# Desktop (Linux, macOS, Windows)
macos/Flutter/ephemeral
linux/flutter/ephemeral
windows/flutter/ephemeral
windows/flutter/ephemeral/flutter_windows.dll
windows/flutter/ephemeral/flutter_windows.dll.lib
windows/flutter/ephemeral/flutter_windows.dll.pdb
windows/flutter/ephemeral/flutter_windows.dll.exp
windows/flutter/ephemeral/flutter_windows.dll.ilk
windows/flutter/ephemeral/flutter_export_environment.cpp

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs, Databases e Env
*.log
*.sqlite
*.db
.env

# Google Services / Firebase (Segurança para repositório público)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist